body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
}

/* Navbar */

nav {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: center;
    padding: 10px;
    background-color: #1d1f26;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: #f7f7f7;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #f7f7f7;
    background-color: #1d1f26;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    padding: 14px 16px;
    color: #f7f7f7;
}